In [39]:
pip install pandas

Requirement already satisfied: pandas in c:\users\kolaw\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kolaw\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\kolaw\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kolaw\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\kolaw\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [40]:
pip install numpy

Requirement already satisfied: numpy in c:\users\kolaw\anaconda3\lib\site-packages (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [41]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\kolaw\anaconda3\lib\site-packages (3.7.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: numpy>=1.20 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: packaging>=20.0 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib) (22.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\kolaw\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\kolaw\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\kolaw\anaconda3\lib\site-packages (from seaborn) (1.23.5)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\kolaw\anaconda3\lib\site-packages (from seaborn) (3.7.0)
Requirement already satisfied: pandas>=0.25 in c:\users\kolaw\anaconda3\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: packaging>=20.0 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (22.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\kolaw\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kolaw\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\kolaw\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [42]:
import pandas as pd

In [43]:
dirty_data = pd.read_csv ("C:/Users/kolaw/OneDrive/Documents/Alawadata/workdata.csv",sep='\t')

In [44]:
dirty_data

   Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary
0   Alice,25,New York,555-1234,alice.email.com,Bac...
1   Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
2   Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
3   David,40,,,david.email.com,PhD,6 years,Single,...
4   Eve,28,Los Angeles,eve.phone.com,eve.email.com...
5   Frank,22,"",frank.email.com,,5 years,Single,Ma...
6   Grace,35,Miami,,grace.email.com,Master's,7 yea...
7   Henry,"45",San Diego,555-9876,henry.email.com,...
8   Isabel,28,Houston,,isabel.email.com,High Schoo...
9   Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
10  Alice,25,New York,555-1234,alice.email.com,Bac...
11  Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
12  Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
13  David,40,,,david.email.com,PhD,6 years,Single,...
14  Eve,28,Los Angeles,eve.phone.com,eve.email.com...
15  Frank,22,"",frank.email.com,,5 years,Single,Ma...
16  Grace,35,Miami,,grace.email.com,Master's,7 yea...
17  Henry,"45",San Diego,555-9876,henry.email.com,...
18  Isabel,28,Houston,,isabel.email.com,High Schoo...
19  Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
20  Jane,26,Seattle,jane.phone.com,jane.email.com,...
21  Kevin,32,Dallas,kevin.phone.com,kevin.email.co...
22  Linda,29,Phoenix,linda.phone.com,linda.email.c...
23  Michael,38,Miami,michael.phone.com,michael.ema...
24  Nancy,,Chicago,nancy.phone.com,nancy.email.com...
25  Olivia,24,New York,olivia.phone.com,olivia.ema...
26  Paul,33,San Francisco,paul.phone.com,paul.emai...
27  Samantha,27,Los Angeles,samantha.phone.com,,Ba...
28  Theodore,,Miami,theodore.phone.com,theodore.em...
29  Ursula,31,Chicago,ursula.phone.com,ursula.emai...
30  Victoria,29,San Diego,,victoria.email.com,Mast...
31  Walter,42,Phoenix,walter.phone.com,walter.emai...
32  Xander,,Boston,xander.phone.com,xander.email.c...
33  Yasmine,26,Seattle,,yasmine.email.com,,1 year,...
34  Zachary,35,Los Angeles,zachary.phone.com,,Mast...
35  Sandra,29,,sandra.phone.com,sandra.email.com,M...
36  Klaus,,Berlin,,klaus.email.com,unknown,6 years...
37  Hannah,34,London,hannah.phone.com,hannah.email...
38  Felicity,27,"New York City",felicity.phone.com...
39  Samuel,31,,samuel.phone.com,samuel.email.com,M...
40  Rebecca,26,"Los Angeles",rebecca.phone.com,unk...
41  Ethan,29,Chicago,ethan.phone.com,ethan.email.c...
42  Lydia,24,unknown,lydia.phone.com,lydia.email.c...
43  Jonathan,32,"San Francisco",jonathan.phone.com...
44  Sophia,35,"Los Angeles",sophia.phone.com,sophi...

In [36]:
car_data = pd.read_csv ("C:/Users/kolaw/OneDrive/Documents/Alawadata/car_dataset.csv")

In [37]:
car_data

   Vehicle       Make    Model  Year   Color License Plate  Passengers
0      Car     Toyota    Camry  2015    Blue        ABC123           4
1      Car     Toyota    Camry  2015    Blue        ABC123           4
2     Bike      Honda  CRF250L  2020     Red        XYZ789           2
3      Bus       Ford  Transit  2010  Yellow        DEF456          20
4      Car       Ford    F-150  2019   Green        ABC123           4
5      Car  Chevrolet   Impala  2010     Red        GHI789           5
6     Bike   Kawasaki    Ninja  2018   Black        XYZ789           2
7      Car     Toyota  Corolla  2016    Blue        JKL123           5
8      Bus       Ford  Transit  2010  Yellow        DEF456          20
9     Bike      Honda  CRF250L  2020     Red        XYZ789           2
10     Car       Ford    F-150  2019   Green        ABC123           4
11     Car  Chevrolet   Impala  2010     Red        GHI789           5
12     Car     Toyota    Camry  2015    Blue        ABC123           4
13    Bike   Kawasaki    Ninja  2018   Black        XYZ789           2
14    Bike      Honda  CRF250L  2020     Red        XYZ789           2

In [9]:
car_data.shape

(15, 7)

In [10]:
car_data.shape

(15, 7)

In [14]:
dirty_data = pd.read_csv ("C:/Users/kolaw/OneDrive/Documents/Alawadata/workdata.csv",sep='\t')

In [16]:
dirty_data

   Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary
0   Alice,25,New York,555-1234,alice.email.com,Bac...
1   Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
2   Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
3   David,40,,,david.email.com,PhD,6 years,Single,...
4   Eve,28,Los Angeles,eve.phone.com,eve.email.com...
5   Frank,22,"",frank.email.com,,5 years,Single,Ma...
6   Grace,35,Miami,,grace.email.com,Master's,7 yea...
7   Henry,"45",San Diego,555-9876,henry.email.com,...
8   Isabel,28,Houston,,isabel.email.com,High Schoo...
9   Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
10  Alice,25,New York,555-1234,alice.email.com,Bac...
11  Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
12  Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
13  David,40,,,david.email.com,PhD,6 years,Single,...
14  Eve,28,Los Angeles,eve.phone.com,eve.email.com...
15  Frank,22,"",frank.email.com,,5 years,Single,Ma...
16  Grace,35,Miami,,grace.email.com,Master's,7 yea...
17  Henry,"45",San Diego,555-9876,henry.email.com,...
18  Isabel,28,Houston,,isabel.email.com,High Schoo...
19  Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
20  Jane,26,Seattle,jane.phone.com,jane.email.com,...
21  Kevin,32,Dallas,kevin.phone.com,kevin.email.co...
22  Linda,29,Phoenix,linda.phone.com,linda.email.c...
23  Michael,38,Miami,michael.phone.com,michael.ema...
24  Nancy,,Chicago,nancy.phone.com,nancy.email.com...
25  Olivia,24,New York,olivia.phone.com,olivia.ema...
26  Paul,33,San Francisco,paul.phone.com,paul.emai...
27  Samantha,27,Los Angeles,samantha.phone.com,,Ba...
28  Theodore,,Miami,theodore.phone.com,theodore.em...
29  Ursula,31,Chicago,ursula.phone.com,ursula.emai...
30  Victoria,29,San Diego,,victoria.email.com,Mast...
31  Walter,42,Phoenix,walter.phone.com,walter.emai...
32  Xander,,Boston,xander.phone.com,xander.email.c...
33  Yasmine,26,Seattle,,yasmine.email.com,,1 year,...
34  Zachary,35,Los Angeles,zachary.phone.com,,Mast...
35  Sandra,29,,sandra.phone.com,sandra.email.com,M...
36  Klaus,,Berlin,,klaus.email.com,unknown,6 years...
37  Hannah,34,London,hannah.phone.com,hannah.email...
38  Felicity,27,"New York City",felicity.phone.com...
39  Samuel,31,,samuel.phone.com,samuel.email.com,M...
40  Rebecca,26,"Los Angeles",rebecca.phone.com,unk...
41  Ethan,29,Chicago,ethan.phone.com,ethan.email.c...
42  Lydia,24,unknown,lydia.phone.com,lydia.email.c...
43  Jonathan,32,"San Francisco",jonathan.phone.com...
44  Sophia,35,"Los Angeles",sophia.phone.com,sophi...

In [32]:
for column in dirty_data.columns:

SyntaxError: incomplete input (3210647465.py, line 1)

In [50]:
value = dirty_data

In [30]:
print (column)

Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary

In [24]:
for column in dirty_data.columns:
    print(column)

Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary

In [51]:
for column in dirty_data.columns:
    print(f"column:(column)")
    for vaue in dirty_data[column]:
        print(value)
        print()

column:(column)
   Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary
0   Alice,25,New York,555-1234,alice.email.com,Bac...
1   Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
2   Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
3   David,40,,,david.email.com,PhD,6 years,Single,...
4   Eve,28,Los Angeles,eve.phone.com,eve.email.com...
5   Frank,22,"",frank.email.com,,5 years,Single,Ma...
6   Grace,35,Miami,,grace.email.com,Master's,7 yea...
7   Henry,"45",San Diego,555-9876,henry.email.com,...
8   Isabel,28,Houston,,isabel.email.com,High Schoo...
9   Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
10  Alice,25,New York,555-1234,alice.email.com,Bac...
11  Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
12  Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
13  David,40,,,david.email.com,PhD,6 years,Single,...
14  Eve,28,Los Angeles,eve.phone.com,eve.email.com...
15  Frank,22,"",frank.email.com,,5 years,Single,Ma...
16  Grace,35,Miami,,grace.email.com,Master's,7 yea...
17  Henry,"45",San Diego,555-9876,henry.email.com,...
18  Isabel,28,Houston,,isabel.email.com,High Schoo...
19  Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
20  Jane,26,Seattle,jane.phone.com,jane.email.com,...
21  Kevin,32,Dallas,kevin.phone.com,kevin.email.co...
22  Linda,29,Phoenix,linda.phone.com,linda.email.c...
23  Michael,38,Miami,michael.phone.com,michael.ema...
24  Nancy,,Chicago,nancy.phone.com,nancy.email.com...
25  Olivia,24,New York,olivia.phone.com,olivia.ema...
26  Paul,33,San Francisco,paul.phone.com,paul.emai...
27  Samantha,27,Los Angeles,samantha.phone.com,,Ba...
28  Theodore,,Miami,theodore.phone.com,theodore.em...
29  Ursula,31,Chicago,ursula.phone.com,ursula.emai...
30  Victoria,29,San Diego,,victoria.email.com,Mast...
31  Walter,42,Phoenix,walter.phone.com,walter.emai...
32  Xander,,Boston,xander.phone.com,xander.email.c...
33  Yasmine,26,Seattle,,yasmine.email.com,,1 year,...
34  Zachary,35,Los Angeles,zachary.phone.com,,Mast...
35  Sandra,29,,sandra.phone.com,sandra.email.com,M...
36  Klaus,,Berlin,,klaus.email.com,unknown,6 years...
37  Hannah,34,London,hannah.phone.com,hannah.email...
38  Felicity,27,"New York City",felicity.phone.com...
39  Samuel,31,,samuel.phone.com,samuel.email.com,M...
40  Rebecca,26,"Los Angeles",rebecca.phone.com,unk...
41  Ethan,29,Chicago,ethan.phone.com,ethan.email.c...
42  Lydia,24,unknown,lydia.phone.com,lydia.email.c...
43  Jonathan,32,"San Francisco",jonathan.phone.com...
44  Sophia,35,"Los Angeles",sophia.phone.com,sophi...

   Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary
0   Alice,25,New York,555-1234,alice.email.com,Bac...
1   Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
2   Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
3   David,40,,,david.email.com,PhD,6 years,Single,...
4   Eve,28,Los Angeles,eve.phone.com,eve.email.com...
5   Frank,22,"",frank.email.com,,5 years,Single,Ma...
6   Grace,35,Miami,,grace.email.com,Master's,7 yea...
7   Henry,"45",San Diego,555-9876,henry.email.com,...
8   Isabel,28,Houston,,isabel.email.com,High Schoo...
9   Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
10  Alice,25,New York,555-1234,alice.email.com,Bac...
11  Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
12  Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
13  David,40,,,david.email.com,PhD,6 years,Single,...
14  Eve,28,Los Angeles,eve.phone.com,eve.email.com...
15  Frank,22,"",frank.email.com,,5 years,Single,Ma...
16  Grace,35,Miami,,grace.email.com,Master's,7 yea...
17  Henry,"45",San Diego,555-9876,henry.email.com,...
18  Isabel,28,Houston,,isabel.email.com,High Schoo...
19  Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
20  Jane,26,Seattle,jane.phone.com,jane.email.com,...
21  Kevin,32,Dallas,kevin.phone.com,kevin.email.co...
22  Linda,29,Phoenix,linda.phone.com,linda.email.c...
23  Michael,38,Miami,michael.phone.com,michael.ema...
24  Nancy,,Chicago,nancy.phone.com,nancy.email.com...
25  Olivia,24,New York,olivia.phone.com,olivia.ema...
26  Paul,33,San Francisco,paul.phone.com,paul.emai...
27  Samantha,27,Los Angeles,samantha.phone.com,,Ba...
28  Theodore,,Miami,theodore.phone.com,theodore.em...
29  Ursula,31,Chicago,ursula.phone.com,ursula.emai...
30  Victoria,29,San Diego,,victoria.email.com,Mast...
31  Walter,42,Phoenix,walter.phone.com,walter.emai...
32  Xander,,Boston,xander.phone.com,xander.email.c...
33  Yasmine,26,Seattle,,yasmine.email.com,,1 year,...
34  Zachary,35,Los Angeles,zachary.phone.com,,Mast...
35  Sandra,29,,sandra.phone.com,sandra.email.com,M...
36  Klaus,,Berlin,,klaus.email.com,unknown,6 years...
37  Hannah,34,London,hannah.phone.com,hannah.email...
38  Felicity,27,"New York City",felicity.phone.com...
39  Samuel,31,,samuel.phone.com,samuel.email.com,M...
40  Rebecca,26,"Los Angeles",rebecca.phone.com,unk...
41  Ethan,29,Chicago,ethan.phone.com,ethan.email.c...
42  Lydia,24,unknown,lydia.phone.com,lydia.email.c...
43  Jonathan,32,"San Francisco",jonathan.phone.com...
44  Sophia,35,"Los Angeles",sophia.phone.com,sophi...

   Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary
0   Alice,25,New York,555-1234,alice.email.com,Bac...
1   Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
2   Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
3   David,40,,,david.email.com,PhD,6 years,Single,...
4   Eve,28,Los Angeles,eve.phone.com,eve.email.com...
5   Frank,22,"",frank.email.com,,5 years,Single,Ma...
6   Grace,35,Miami,,grace.email.com,Master's,7 yea...
7   Henry,"45",San Diego,555-9876,henry.email.com,...
8   Isabel,28,Houston,,isabel.email.com,High Schoo...
9   Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
10  Alice,25,New York,555-1234,alice.email.com,Bac...
11  Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
12  Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
13  David,40,,,david.email.com,PhD,6 years,Single,...
14  Eve,28,Los Angeles,eve.phone.com,eve.email.com...
15  Frank,22,"",frank.email.com,,5 years,Single,Ma...
16  Grace,35,Miami,,grace.email.com,Master's,7 yea...
17  Henry,"45",San Diego,555-9876,henry.email.com,...
18  Isabel,28,Houston,,isabel.email.com,High Schoo...
19  Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
20  Jane,26,Seattle,jane.phone.com,jane.email.com,...
21  Kevin,32,Dallas,kevin.phone.com,kevin.email.co...
22  Linda,29,Phoenix,linda.phone.com,linda.email.c...
23  Michael,38,Miami,michael.phone.com,michael.ema...
24  Nancy,,Chicago,nancy.phone.com,nancy.email.com...
25  Olivia,24,New York,olivia.phone.com,olivia.ema...
26  Paul,33,San Francisco,paul.phone.com,paul.emai...
27  Samantha,27,Los Angeles,samantha.phone.com,,Ba...
28  Theodore,,Miami,theodore.phone.com,theodore.em...
29  Ursula,31,Chicago,ursula.phone.com,ursula.emai...
30  Victoria,29,San Diego,,victoria.email.com,Mast...
31  Walter,42,Phoenix,walter.phone.com,walter.emai...
32  Xander,,Boston,xander.phone.com,xander.email.c...
33  Yasmine,26,Seattle,,yasmine.email.com,,1 year,...
34  Zachary,35,Los Angeles,zachary.phone.com,,Mast...
35  Sandra,29,,sandra.phone.com,sandra.email.com,M...
36  Klaus,,Berlin,,klaus.email.com,unknown,6 years...
37  Hannah,34,London,hannah.phone.com,hannah.email...
38  Felicity,27,"New York City",felicity.phone.com...
39  Samuel,31,,samuel.phone.com,samuel.email.com,M...
40  Rebecca,26,"Los Angeles",rebecca.phone.com,unk...
41  Ethan,29,Chicago,ethan.phone.com,ethan.email.c...
42  Lydia,24,unknown,lydia.phone.com,lydia.email.c...
43  Jonathan,32,"San Francisco",jonathan.phone.com...
44  Sophia,35,"Los Angeles",sophia.phone.com,sophi...

   Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary
0   Alice,25,New York,555-1234,alice.email.com,Bac...
1   Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
2   Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
3   David,40,,,david.email.com,PhD,6 years,Single,...
4   Eve,28,Los Angeles,eve.phone.com,eve.email.com...
5   Frank,22,"",frank.email.com,,5 years,Single,Ma...
6   Grace,35,Miami,,grace.email.com,Master's,7 yea...
7   Henry,"45",San Diego,555-9876,henry.email.com,...
8   Isabel,28,Houston,,isabel.email.com,High Schoo...
9   Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
10  Alice,25,New York,555-1234,alice.email.com,Bac...
11  Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
12  Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
13  David,40,,,david.email.com,PhD,6 years,Single,...
14  Eve,28,Los Angeles,eve.phone.com,eve.email.com...
15  Frank,22,"",frank.email.com,,5 years,Single,Ma...
16  Grace,35,Miami,,grace.email.com,Master's,7 yea...
17  Henry,"45",San Diego,555-9876,henry.email.com,...
18  Isabel,28,Houston,,isabel.email.com,High Schoo...
19  Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
20  Jane,26,Seattle,jane.phone.com,jane.email.com,...
21  Kevin,32,Dallas,kevin.phone.com,kevin.email.co...
22  Linda,29,Phoenix,linda.phone.com,linda.email.c...
23  Michael,38,Miami,michael.phone.com,michael.ema...
24  Nancy,,Chicago,nancy.phone.com,nancy.email.com...
25  Olivia,24,New York,olivia.phone.com,olivia.ema...
26  Paul,33,San Francisco,paul.phone.com,paul.emai...
27  Samantha,27,Los Angeles,samantha.phone.com,,Ba...
28  Theodore,,Miami,theodore.phone.com,theodore.em...
29  Ursula,31,Chicago,ursula.phone.com,ursula.emai...
30  Victoria,29,San Diego,,victoria.email.com,Mast...
31  Walter,42,Phoenix,walter.phone.com,walter.emai...
32  Xander,,Boston,xander.phone.com,xander.email.c...
33  Yasmine,26,Seattle,,yasmine.email.com,,1 year,...
34  Zachary,35,Los Angeles,zachary.phone.com,,Mast...
35  Sandra,29,,sandra.phone.com,sandra.email.com,M...
36  Klaus,,Berlin,,klaus.email.com,unknown,6 years...
37  Hannah,34,London,hannah.phone.com,hannah.email...
38  Felicity,27,"New York City",felicity.phone.com...
39  Samuel,31,,samuel.phone.com,samuel.email.com,M...
40  Rebecca,26,"Los Angeles",rebecca.phone.com,unk...
41  Ethan,29,Chicago,ethan.phone.com,ethan.email.c...
42  Lydia,24,unknown,lydia.phone.com,lydia.email.c...
43  Jonathan,32,"San Francisco",jonathan.phone.com...
44  Sophia,35,"Los Angeles",sophia.phone.com,sophi...

   Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary
0   Alice,25,New York,555-1234,alice.email.com,Bac...
1   Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
2   Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
3   David,40,,,david.email.com,PhD,6 years,Single,...
4   Eve,28,Los Angeles,eve.phone.com,eve.email.com...
5   Frank,22,"",frank.email.com,,5 years,Single,Ma...
6   Grace,35,Miami,,grace.email.com,Master's,7 yea...
7   Henry,"45",San Diego,555-9876,henry.email.com,...
8   Isabel,28,Houston,,isabel.email.com,High Schoo...
9   Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
10  Alice,25,New York,555-1234,alice.email.com,Bac...
11  Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
12  Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
13  David,40,,,david.email.com,PhD,6 years,Single,...
14  Eve,28,Los Angeles,eve.phone.com,eve.email.com...
15  Frank,22,"",frank.email.com,,5 years,Single,Ma...
16  Grace,35,Miami,,grace.email.com,Master's,7 yea...
17  Henry,"45",San Diego,555-9876,henry.email.com,...
18  Isabel,28,Houston,,isabel.email.com,High Schoo...
19  Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
20  Jane,26,Seattle,jane.phone.com,jane.email.com,...
21  Kevin,32,Dallas,kevin.phone.com,kevin.email.co...
22  Linda,29,Phoenix,linda.phone.com,linda.email.c...
23  Michael,38,Miami,michael.phone.com,michael.ema...
24  Nancy,,Chicago,nancy.phone.com,nancy.email.com...
25  Olivia,24,New York,olivia.phone.com,olivia.ema...
26  Paul,33,San Francisco,paul.phone.com,paul.emai...
27  Samantha,27,Los Angeles,samantha.phone.com,,Ba...
28  Theodore,,Miami,theodore.phone.com,theodore.em...
29  Ursula,31,Chicago,ursula.phone.com,ursula.emai...
30  Victoria,29,San Diego,,victoria.email.com,Mast...
31  Walter,42,Phoenix,walter.phone.com,walter.emai...
32  Xander,,Boston,xander.phone.com,xander.email.c...
33  Yasmine,26,Seattle,,yasmine.email.com,,1 year,...
34  Zachary,35,Los Angeles,zachary.phone.com,,Mast...
35  Sandra,29,,sandra.phone.com,sandra.email.com,M...
36  Klaus,,Berlin,,klaus.email.com,unknown,6 years...
37  Hannah,34,London,hannah.phone.com,hannah.email...
38  Felicity,27,"New York City",felicity.phone.com...
39  Samuel,31,,samuel.phone.com,samuel.email.com,M...
40  Rebecca,26,"Los Angeles",rebecca.phone.com,unk...
41  Ethan,29,Chicago,ethan.phone.com,ethan.email.c...
42  Lydia,24,unknown,lydia.phone.com,lydia.email.c...
43  Jonathan,32,"San Francisco",jonathan.phone.com...
44  Sophia,35,"Los Angeles",sophia.phone.com,sophi...

   Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary
0   Alice,25,New York,555-1234,alice.email.com,Bac...
1   Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
2   Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
3   David,40,,,david.email.com,PhD,6 years,Single,...
4   Eve,28,Los Angeles,eve.phone.com,eve.email.com...
5   Frank,22,"",frank.email.com,,5 years,Single,Ma...
6   Grace,35,Miami,,grace.email.com,Master's,7 yea...
7   Henry,"45",San Diego,555-9876,henry.email.com,...
8   Isabel,28,Houston,,isabel.email.com,High Schoo...
9   Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
10  Alice,25,New York,555-1234,alice.email.com,Bac...
11  Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
12  Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
13  David,40,,,david.email.com,PhD,6 years,Single,...
14  Eve,28,Los Angeles,eve.phone.com,eve.email.com...
15  Frank,22,"",frank.email.com,,5 years,Single,Ma...
16  Grace,35,Miami,,grace.email.com,Master's,7 yea...
17  Henry,"45",San Diego,555-9876,henry.email.com,...
18  Isabel,28,Houston,,isabel.email.com,High Schoo...
19  Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
20  Jane,26,Seattle,jane.phone.com,jane.email.com,...
21  Kevin,32,Dallas,kevin.phone.com,kevin.email.co...
22  Linda,29,Phoenix,linda.phone.com,linda.email.c...
23  Michael,38,Miami,michael.phone.com,michael.ema...
24  Nancy,,Chicago,nancy.phone.com,nancy.email.com...
25  Olivia,24,New York,olivia.phone.com,olivia.ema...
26  Paul,33,San Francisco,paul.phone.com,paul.emai...
27  Samantha,27,Los Angeles,samantha.phone.com,,Ba...
28  Theodore,,Miami,theodore.phone.com,theodore.em...
29  Ursula,31,Chicago,ursula.phone.com,ursula.emai...
30  Victoria,29,San Diego,,victoria.email.com,Mast...
31  Walter,42,Phoenix,walter.phone.com,walter.emai...
32  Xander,,Boston,xander.phone.com,xander.email.c...
33  Yasmine,26,Seattle,,yasmine.email.com,,1 year,...
34  Zachary,35,Los Angeles,zachary.phone.com,,Mast...
35  Sandra,29,,sandra.phone.com,sandra.email.com,M...
36  Klaus,,Berlin,,klaus.email.com,unknown,6 years...
37  Hannah,34,London,hannah.phone.com,hannah.email...
38  Felicity,27,"New York City",felicity.phone.com...
39  Samuel,31,,samuel.phone.com,samuel.email.com,M...
40  Rebecca,26,"Los Angeles",rebecca.phone.com,unk...
41  Ethan,29,Chicago,ethan.phone.com,ethan.email.c...
42  Lydia,24,unknown,lydia.phone.com,lydia.email.c...
43  Jonathan,32,"San Francisco",jonathan.phone.com...
44  Sophia,35,"Los Angeles",sophia.phone.com,sophi...

   Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary
0   Alice,25,New York,555-1234,alice.email.com,Bac...
1   Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
2   Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
3   David,40,,,david.email.com,PhD,6 years,Single,...
4   Eve,28,Los Angeles,eve.phone.com,eve.email.com...
5   Frank,22,"",frank.email.com,,5 years,Single,Ma...
6   Grace,35,Miami,,grace.email.com,Master's,7 yea...
7   Henry,"45",San Diego,555-9876,henry.email.com,...
8   Isabel,28,Houston,,isabel.email.com,High Schoo...
9   Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
10  Alice,25,New York,555-1234,alice.email.com,Bac...
11  Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
12  Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
13  David,40,,,david.email.com,PhD,6 years,Single,...
14  Eve,28,Los Angeles,eve.phone.com,eve.email.com...
15  Frank,22,"",frank.email.com,,5 years,Single,Ma...
16  Grace,35,Miami,,grace.email.com,Master's,7 yea...
17  Henry,"45",San Diego,555-9876,henry.email.com,...
18  Isabel,28,Houston,,isabel.email.com,High Schoo...
19  Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
20  Jane,26,Seattle,jane.phone.com,jane.email.com,...
21  Kevin,32,Dallas,kevin.phone.com,kevin.email.co...
22  Linda,29,Phoenix,linda.phone.com,linda.email.c...
23  Michael,38,Miami,michael.phone.com,michael.ema...
24  Nancy,,Chicago,nancy.phone.com,nancy.email.com...
25  Olivia,24,New York,olivia.phone.com,olivia.ema...
26  Paul,33,San Francisco,paul.phone.com,paul.emai...
27  Samantha,27,Los Angeles,samantha.phone.com,,Ba...
28  Theodore,,Miami,theodore.phone.com,theodore.em...
29  Ursula,31,Chicago,ursula.phone.com,ursula.emai...
30  Victoria,29,San Diego,,victoria.email.com,Mast...
31  Walter,42,Phoenix,walter.phone.com,walter.emai...
32  Xander,,Boston,xander.phone.com,xander.email.c...
33  Yasmine,26,Seattle,,yasmine.email.com,,1 year,...
34  Zachary,35,Los Angeles,zachary.phone.com,,Mast...
35  Sandra,29,,sandra.phone.com,sandra.email.com,M...
36  Klaus,,Berlin,,klaus.email.com,unknown,6 years...
37  Hannah,34,London,hannah.phone.com,hannah.email...
38  Felicity,27,"New York City",felicity.phone.com...
39  Samuel,31,,samuel.phone.com,samuel.email.com,M...
40  Rebecca,26,"Los Angeles",rebecca.phone.com,unk...
41  Ethan,29,Chicago,ethan.phone.com,ethan.email.c...
42  Lydia,24,unknown,lydia.phone.com,lydia.email.c...
43  Jonathan,32,"San Francisco",jonathan.phone.com...
44  Sophia,35,"Los Angeles",sophia.phone.com,sophi...

   Name,Age,Location,Phone,Email,Education,Experience,Marital_Status,Sex,Work_Experience,Qualification,Salary
0   Alice,25,New York,555-1234,alice.email.com,Bac...
1   Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
2   Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
3   David,40,,,david.email.com,PhD,6 years,Single,...
4   Eve,28,Los Angeles,eve.phone.com,eve.email.com...
5   Frank,22,"",frank.email.com,,5 years,Single,Ma...
6   Grace,35,Miami,,grace.email.com,Master's,7 yea...
7   Henry,"45",San Diego,555-9876,henry.email.com,...
8   Isabel,28,Houston,,isabel.email.com,High Schoo...
9   Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
10  Alice,25,New York,555-1234,alice.email.com,Bac...
11  Bob,,San Francisco,,bob.phone.com,,Master's,Ma...
12  Charlie,30,Chicago,(555)-5678,,,Bachelor's,3 y...
13  David,40,,,david.email.com,PhD,6 years,Single,...
14  Eve,28,Los Angeles,eve.phone.com,eve.email.com...
15  Frank,22,"",frank.email.com,,5 years,Single,Ma...
16  Grace,35,Miami,,grace.email.com,Master's,7 yea...
17  Henry,"45",San Diego,555-9876,henry.email.com,...
18  Isabel,28,Houston,,isabel.email.com,High Schoo...
19  Jack,,Boston,jack.phone.com,,Bachelor's,3 year...
20  Jane,26,Seattle,jane.phone.com,jane.email.com,...
21  Kevin,32,Dallas,kevin.phone.com,kevin.email.co...
22  Linda,29,Phoenix,linda.phone.com,linda.email.c...
23  Michael,38,Miami,michael.phone.com,michael.ema...
24  Nancy,,Chicago,nancy.phone.com,nancy.email.com...
25  Olivia,24,New York,olivia.phone.com,olivia.ema...
26  Paul,33,San Francisco,paul.phone.com,paul.emai...
27  Samantha,27,Los Angeles,samantha.phone.com,,Ba...
28  Theodore,,Miami,theodore.phone.com,theodore.em...
29  Ursula,31,Chicago,ursula.phone.com,ursula.emai...
30  Victoria,29,San Diego,,victoria.email.com,Mast...
31  Walter,42,Phoenix,walter.phone.com,walter.emai...
32  Xander,,Boston,xander.phone.com,xander.email.c...
33  Yasmine,26,Seattle,,yasmine.email.com,,1 year,...
34  Zachary,35,Los Angeles,zachary.phone.com,,Mast...
35  Sandra,29,,sandra.phone.com,sandra.email.com,M...
36  Klaus,,Berlin,,klaus.email.com,unknown,6 years...
37  Hannah,34,London,hannah.phone.com,hannah.email...